* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.15fr 0.1fr 0.6fr 0.15fr;
    grid-template-columns: 0.25fr 0.1fr 0.65fr;
    grid-template-areas: "nav nav nav" "add add add" "contact blank details" "footer footer footer";
}

nav div {
    /* text-decoration-color: white; */
    font-size: 33px;
    color: white;
}

#blank {
    grid-area: blank;
}

nav {
    display: flex;
    grid-area: nav;
    /* font-size: 27px; */
    padding-left: 28px;
    background-color: skyblue;
    align-items: center;
}

#add-div {
    grid-area: add;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#add-btn {
    margin-right: 18px;
    /* outline: none; */
    border: 0px;
    background: skyblue;
    color: white;
    width: 71px;
    height: 20px;
}

footer {
    grid-area: footer;
}

#contacts {
    box-sizing: border-box;
    grid-area: contact;
    /* background: aquamarine; */
    padding-left: 6px;
    padding-right: 6px;
}

#details {
    grid-area: details;
}

.contact-header {
    display: flex;
    justify-content: space-between;
    /* margin-left: 10px; */
    height: 10%;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
}

.contact-list {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    padding: -4px;
    /* background: antiquewhite; */
    height: 90%;
    /* margin: -27px; */
    /* margin-left: 10px; */
    overflow-y: scroll;
}

.person {
    width: 100%;
    /* background: aqua; */
    height: 20%;
    border-bottom: 1px solid black;
}

h3 {
    /* margin-left: 10px; */
    font-size: 21px;
}

footer {
    margin: auto;
}

.contact-header input[type="text"] {
    width: 50%;
}

@media only screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3.5fr 3.5fr 1fr;
        grid-template-areas: "nav" "add" "contact" "details" "footer";
    }

    nav {
        justify-content: center;
    }

    #blank {
        display: none;
    }

    .contact-header {
        height: 20%;
    }

    .contact-list {
        height: 80%;
    }

    #Details {
        padding-left: 6px;
        padding-right: 6px;
    }
}

#Details {
    margin-right: 6px;
    /* height: 10%; */
    box-sizing: border-box;
}

form {
    padding: 10px;
    box-sizing: border-box;
    height: 90%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 5fr 2fr;
    grid-template-areas: "name-label blank2 email-label" "name blank2 email" "mobile-label blank2 github-label" "mobile blank2 github" "address-label address-label address-label" "address address address" "submit submit submit";
}

#detail-header {
    height: 10%;
    font-size: 21px;
    font-weight: bold;
    display: flex;
    /* margin-top: 1%; */
    /* line-height: 10%; */
    /* vertical-align: middle; */
    /* padding-top: 7px; */
    align-items: center;
}

#Details p {
    font-size: 21px;
    /* padding-left: 5px; */
    grid-template-areas: "nav nav nav" "add add add" "contact blank details" "footer footer footer";
}

label {
    font-weight: bold;
    margin-top: 2px;
}

#name {
    grid-area: name;
}

#email {
    grid-area: email;
}

#mobile {
    grid-area: mobile;
}

#github {
    grid-area: github;
}

#address {
    grid-area: address;
}

label[for="name"] {
    grid-area: name-label;
}

label[for="mobile"] {
    grid-area: mobile-label;
}

label[for="email"] {
    grid-area: email-label;
}

label[for="github"] {
    grid-area: github-label;
}

label[for="address"] {
    grid-area: address-label;
}

input[type="submit"] {
    justify-self: flex-end;
    /* justify-content: right; */
    align-self: center;
    grid-area: submit;
    margin-top: 4px;
    background: skyblue;
    border: none;
    color: white;
    height: 27px;
    width: 89px;
}

#blank2 {
    grid-area: blank2;
}
