body {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.head {
    height: 100px;
    width: 100%;
    background: skyblue;
    display: flex;
    align-content: space-between;
    align-items: center;
}

.main-heading {
    margin-left: 19px;
    color: white;
    font-size: 35px;
}

.button-div {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.add-button {
    width: 88px;
    height: 29px;
    display: flex;
    background-color: skyblue;
    place-content: center;
    align-items: center;
    color: white;
}

.ContactDetail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact {
    /* height: 129px; */
    /* height: 250px; */
    width: 30%;
    margin-left: 10px;
}

.Details {
    width: 62%;
    /* height: 114%; */
}

.contact-header {
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-header h3 {
    display: inline-block;
    font-size: 24px;
}

.search-box {
}

.details-header {
    font-size: 26px;
    margin-bottom: 11px;
}

.details-content {
    height: 300px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.maindetails {
    /* margin: 9px; */
    margin-left: 10px;
    margin-right: 10px;
    width: 44%;
}

.detail-input {
    width: 100%;
    height: 29px;
}

.Address {
    /* margin: 14px; */
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    /* height: 32%; */
}

.Address input {
    width: 100%;
    height: 75px;
}

h2 {
    font-size: 20px;
    margin-bottom: 2px;
}

.person {
    height: 63px;
    border: 1px solid;
}

.contact-list {
    height: 300px;
    overflow-y: scroll;
}

.update-button {
    /* margin-left: 87%; */
    margin-left: 88%;
    text-align: center;
    padding: 7px;
    background: skyblue;
    color: white;
    height: 28px;
    width: 79px;
}

p {
    margin-left: -181px;
    /* margin: 43px; */
    margin-top: 40px;
    text-align: center;
}
